/* Website template by freewebsitetemplates.com */
body {
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
}
body #page {
	background: #ffffff;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: auto;
	z-index: 3;
}
a {
	text-decoration: none;
	outline: none;
}
a:active {
	background: none;
}
img {
	border: none;
}
/*----------------------------------------header-styles---------------------------------------*/
#header {
	background: url(../images/bg-banner.png) repeat;
	margin: 0;
	height: 100px;
	padding: 0;
	width: 100%;
	z-index: 100;
}
#header div {
	margin: 0 auto;
	max-width: 940px;
	min-height: 60px;
	padding: 0 10px;
}
#header div a.logo {
	display: block;
	float: left;
	height: 100px;
	margin: 0 44px 0 0;
	padding: 0;
	width: 140px;
}
#header div a img {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
}
#header div ul {
	display: inline-block;
	float: left;
	list-style: none;
	margin: 54px 0 0 0;
	padding: 0;
	width: auto;
}
#header div ul li {
	float: left;
	margin: 0;
	padding: 0;
	width: auto;
}
#header div ul li a {
	color: #ffffff;
	display: block;
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	line-height: 46px;
	margin: 0;
	min-height: 46px;
	padding: 0 24px;
 *padding: 0 23px; /* Needed for IE8 and old versions */
	text-align: center;
	-webkit-text-transform: uppercase;
	text-transform: uppercase;
	width: auto;
}
#header div ul li a:hover {
	background-color: #e14443;
	color: #ffffff;
}
#header div ul li.selected a {
	background-color: #71a6dd;
	color: #ffffff;
}
#header div ul li.menu {
	position: relative;
}
#header div ul li.menu ul {
	display: block;
	left: -99999px;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 142px;
	z-index: 50;
}
#header div ul li.menu:hover ul.primary {
	left: 0;
}
#header div ul li.menu ul.primary.selected {
	left: 0;
}
#header div ul li.menu:hover ul.secondary {
	left: -20px;
}
#header div ul li.menu ul.secondary.selected {
	left: -20px;
}
#header div ul li.menu ul li {
	margin: 0;
	padding: 0;
	width: auto;
}
#header div ul li.menu ul li a {
	background-color: #ffffff;
	color: #000000;
	display: block;
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	line-height: 46px;
	margin: 0;
	min-height: 46px;
	padding: 0 10px;
	text-align: center;
	-webkit-text-transform: uppercase;
	text-transform: uppercase;
	width: auto;
}
#header div ul li.menu ul.primary.selected li a, #header div ul li.menu ul.secondary.selected li a {
	background-color: #000000;
	color: #a3a3a3;
}
/*----------------------------------------home-styles---------------------------------------*/
#body {
	background-color: #ffffff;
	margin: 0;
	/* min-height: 808px; */
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#body.home {
	background: none;
	margin: 0 auto;
	min-height: 700px;
	max-width: 940px;
	overflow: hidden;
	padding: 0;
	width: auto;
}
/* #eventstoday and .clearfix styles taken from teambernieny.org */
#eventstoday {
	margin-bottom: 20px;
}
#eventstoday .no-events {
	margin: 10px 0 15px 0;
	padding: 15px 0 3px 65px;
	border-bottom: 1px dashed #3880b8;
	background: url('../images/bernieshocked.jpg') top left no-repeat;
	background-size: 60px;
	min-height: 45px;
}
#eventstoday a {
	font-weight: bold;
}
#eventstoday h2.et-title {
	font-family: 'Arial Narrow', Arial, sans-serif; /* 'Francois One',Tahoma,Arial; */
	font-size: 24px;
	color: #3880b8;
	-webkit-text-transform: uppercase;
	text-transform: uppercase;
}
#eventstoday .eventlisting {
	border-bottom: 1px dashed #3880b8;
	padding: 5px 0;
}
#eventstoday .et-time {
	font-family: 'Francois One',Tahoma,Arial;
	font-size: 0.9em;
	color: #3880b8;
}
#eventstoday .eventlisting h3 {
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	margin: 0;
}
#eventstoday .eventlisting p {
	font-size: 12px;
	line-height: 16px;
	font-style: italic;
	margin: 0;
}

/* .rsvp-link styles borrowed and modified from berniesanders.com */
#eventstoday .rsvp-link {
	float: right;
	font-weight: bold;
	font-size: 20px;
	background-color: #e14443;
	letter-spacing: 0.15em;
	margin: 0.3em auto 0;
	border-radius: 3px;
	padding: 6px 8px 5px;
	color: white;
	display: inline-block;
	-webkit-text-transform: uppercase;
	text-transform: uppercase;
	margin: 3px;
	line-height: 1;
}
#eventstoday .rsvp-link:hover {
	background-color: #ba1f1e;
}
.clearfix::before,.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom:1;
}
.container {
    padding: 24px 24px 0 24px;
}
/*----------------------------------------about-styles---------------------------------------*/
/* #body.about {
	background: #ffffff;
	height: auto;
} */
#body.about h1 {
	color: #ffffff;
	display: block;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 36px;
	font-weight: normal;
	line-height: 36px;
	margin: 0 auto 30px;
	padding: 0;
	text-align: center;
	-webkit-text-transform: uppercase;
	text-transform: uppercase;
	width: auto;
}
#body.about h2 {
	color: #ffffff;
	display: block;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 32px;
	font-weight: normal;
	line-height: 32px;
	margin: 0 auto 24px;
	padding: 0;
	text-align: center;
	-webkit-text-transform: uppercase;
	text-transform: uppercase;
	width: 820px;
}
#body.about .block0 {
	background: url(../images/LA_far_sunset.jpg) no-repeat center top #ffffff;
	margin: 0;
	min-height: 800px;
	padding: 0;
	width: 100%;
}
#body.about .block0 div, #body .block0 div {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 55px 0 40px;
}
#body.about p {
	color: #ffffff;
	display: block;
	/* background-color: rgba(0,0,0,0.25); */
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 10px;
	padding: 5px;
	text-align: center;
	width: auto;
}
#body.about a {
	color: #ffffff;
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}
#body.about a:hover {
	color: #ba1f1e;
}
/*----------------------------------------map-styles---------------------------------------*/
#body.map {
	height: 500px;
	width: 100%;
	background: none;
	margin: 0 auto;
	min-height: 700px;
	/* max-width: 940px; */
	overflow: hidden;
	padding: 0;
}
#map {
	height: 100%;
	width: 100%;
	/* position: absolute;
	top: 100;
	left: 0; */
	z-index: 0;
}  
.pop_up_box_text {
	font-family: Georgia, 'Times New Roman', Times, serif; 
	font-size: 16px; 
	line-height: 22px; 
	color: #ffffff; 
	display: inline; 
}
/*----------------------------------------contact-styles---------------------------------------*/
#body.contact {
	background: none;
	margin: 0 auto;
	min-height: 700px;
	max-width: 940px;
	overflow: hidden;
	padding: 0;
	width: auto;
}
#body.contact h1 {
	font-family: 'Arial Wide', Arial, sans-serif;
	font-size: 30px;
	font-style: italic;
	color: #2c6591;
}
#body.contact .social img {
	height: 50px;
	width: 50px;
}
#body.contact .location-listing {
	border-bottom: 1px solid #3880b8;
	padding: 5px 0;
	min-height: 250px;
}
#body.contact .location-listing h2 {
	font-family: 'Arial Narrow', Arial, sans-serif; /* 'Francois One',Tahoma,Arial; */
	font-size: 24px;
	color: #3880b8;
}
#body.contact .map-image {
	float: left;
	padding: 0 15px;
}
#body.contact .location-listing .address {
	font-size: 20px;
	margin: 0;
	padding: 10px 0;
}
#body.contact .location-listing .phone-number {
	margin: 0;
}
#body.contact .location-listing .phone-number a {
	font-size: 20px;
	font-weight: bold;
	color: #e14443;
}
#body.contact .location-listing .phone-number a:hover {
	color: #ba1f1e;
}
#body.contact .inline {
	display: inline-block;
	width: 326px;
}
/*----------------------------------------footer-styles---------------------------------------*/
#footer {
	margin: 0;
	padding: 0;
	width: auto;
}
#footer .connect {
	background-color: #a3a3a3;
	margin: 0;
	min-height: 84px;
	overflow: hidden;
	padding: 0;
	width: auto;
}
#footer .connect div {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 24px 0 0;
}
#footer .connect div h1 {
	color: #FFFFFF;
	float: left;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 23px;
	font-weight: normal;
	line-height: 23px;
	margin: 0;
	padding: 8px 25px 0 0;
	text-align: right;
	width: 525px;
}
#footer .connect div div {
	float: left;
	margin: 0;
	overflow: hidden;
	padding: 0 0 0 20px;
	width: 380px;
}
#footer .connect div div a {
	background: url(../images/icons.png) no-repeat;
	display: block;
	float: left;
	height: 36px;
	margin: 0;
	padding: 0;
	text-indent: -99999px;
	width: 18px;
}
#footer .connect div div a.facebook {
	background-position: 0 0;
	margin: 0 0 0 16px;
	width: 18px;
}
#footer .connect div div a.twitter {
	background-position: 0 -114px;
	margin: 0 0 0 28px;
	width: 44px;
}
#footer .connect div div a.googleplus {
	background-position: 0 -38px;
	margin: 0 0 0 27px;
	width: 37px;
}
#footer .connect div div a.pinterest {
	background-position: 0 -76px;
	margin: 0 0 0 29px;
	width: 30px;
}
#footer .connect div div a.facebook:hover {
	background-position: -20px 0;
}
#footer .connect div div a.twitter:hover {
	background-position: -46px -114px;
}
#footer .connect div div a.googleplus:hover {
	background-position: -38px -38px;
}
#footer .connect div div a.pinterest:hover {
	background-position: -32px -76px;
}
#footer .footnote {
	background-color: #FFFFFF;
	margin: 0;
	min-height: 84px;
	overflow: hidden;
	padding: 0;
	width: auto;
}
#footer .footnote div {
	margin: 0 auto;
	overflow: hidden;
	padding: 34px 0 0;
	width: 960px;
}
#footer .footnote div p {
	color: #000000;
	display: block;
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	-webkit-text-transform: uppercase;
	text-transform: uppercase;
	width: 940px;
}